body {
   font-family: Optima, sans-serif;
}

h1, h2 {
    font-family: Didot, Georgia, serif; 
    font-weight: 800;
} /*is this right*/

h1 {
    font-size: 55px;
}

h2 {
    font-size: 35px; 
}
p {
    width: 62em; 
}
li {
    width: 45em;
}