body {
    font-size: 135%; /*check size or redo it*/
    line-height: 1.35;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    background-color: #10002B; 
    color: #f3eafb;
}

h1,h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; 
    color: #E0AAFF; 
}
/*links*/
a {
    color: #4c89eb;
}
a:visited {
    color: #3a86ff; 
}
a:hover {
    color: 	#608ed7; 
}
/*figures*/
figure {
    width: 360px;
    max-width: 100%;
    min-width: 160; /*fix*/
    background-color: #666666;
    padding: .75em .5em 1em .5em; /*first is top, 2nd is right, 3rd is bottom, 4th is left*/
    border: .2em #240046 solid; /*width color style*/
    margin: 0;  /*em is tied to font size*/
}
figure img {
    width: 100%;
}
header, main, footer{
    width: 40em;
    max-width: 90%;
}